@import "tailwindcss";

body {
  padding: 0;
  margin: 0;

  --yarl__thumbnails_container_padding: 6px;

  --yarl__container_background_color: #000b;
  --yarl__thumbnails_container_background_color: var(
    --yarl__container_background_color
  );
}

html,
body,
#root,
#root > div,
.leaflet-container {
  height: 100%;
  width: 100vw;
  background: rgb(25, 26, 26);
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  88% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}
